{% extends "registration/registration_base.html" %}
{% block title %}Register for an account{% endblock %}
{% block content %}
<h3>Create a new MATCH account</h3>

<p>Use the following form to create a new account to access MATCH modules.</p>

<div class="loginbox" style="float: none;">
	<div class="content">

    <form method='post' action=''>{% csrf_token %}
	<div class="fieldwrapper">
		<label for="id_email">Your email address:</label>
		{{ form.email }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_sex">What is your sex?</label>
		{{ form.sex }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_age">What is your age?</label>
		{{ form.age }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_origin">Are you of Hispanic, Latino, or Spanish origin?</label>
		{{ form.origin }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_ethinicity">Which of these best represent your race/ethnicity?</label>
		{{ form.ethnicity }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_disadvantaged">Prior to the age of 18, do you feel that you were educationally or financially 
disadvantaged?</label>
		{{ form.disadvantaged }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_employment_location">Which category best describes your employment location?</label>
		{{ form.employment_location }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_position">Which general job category best describes your position?</label>
		{{ form.position }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_username">Create your username:</label>
		{{ form.username }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_password1">Create a password:</label>
		{{ form.password1 }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
		<label for="id_password2">Confirm your password:</label>
		{{ form.password2 }}
	</div><!-- fieldwrapper -->
	
	<div class="fieldwrapper">
        <input type="submit" class="regbutton" value="Send activation email" /></td>
	</div><!-- fieldwrapper -->
    </form>

	</div><!-- content -->
</div><!-- loginbox -->
</table>
{% endblock %}
